
@{
    ViewBag.Title = "Students";
}

<h2>Students</h2>
<div class="container">

    <a href="~/Students/Index" class="btn btn-primary">All Students</a>
    <a href="~/Students/ById" class="btn btn-primary">Search by Id</a>

</div>
<br>



